name: CD - Deploy Strapi with PostgreSQL

on:
  workflow_dispatch:
    inputs:
      IMAGE_TAG:
        description: "Docker image tag"
        required: false  # optional, we can fallback to commit SHA
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build and push Docker image
        run: |
          # fallback to commit SHA if IMAGE_TAG not provided
          IMAGE_TAG=${{ github.event.inputs.IMAGE_TAG || github.sha }}
          echo "Using IMAGE_TAG=$IMAGE_TAG"
          docker build -t ${{ secrets.ECR_REPO }}:$IMAGE_TAG .
          docker push ${{ secrets.ECR_REPO }}:$IMAGE_TAG

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init
        working-directory: terraform

      - name: Terraform Apply
        run: |
         IMAGE_TAG=${{ github.event.inputs.IMAGE_TAG || github.sha }}
         echo "Deploying with IMAGE_TAG=$IMAGE_TAG"
         terraform apply -auto-approve \
         -var="image_tag=$IMAGE_TAG" \
         -var="ecr_repo=${{ secrets.ECR_REPO }}" \
         -var="existing_execution_role_arn=${{ secrets.ECS_EXECUTION_ROLE_ARN }}" \
         -var="app_keys=${{ secrets.APP_KEYS }}" \
         -var="admin_jwt_secret=${{ secrets.ADMIN_JWT_SECRET }}" \
         -var="api_token_salt=${{ secrets.API_TOKEN_SALT }}" \
         -var="transfer_token_salt=${{ secrets.TRANSFER_TOKEN_SALT }}" \
         -var="encryption_key=${{ secrets.ENCRYPTION_KEY }}" \
         -var="jwt_secret=${{ secrets.JWT_SECRET }}"
        working-directory: terraform

